<html>
  <head>
    <title>Scansione indirizzi IP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div>
      <h1>Scand di porte</h1>
      <br>
      <form method="post">
        <input type="text" placeholder="indirizzo IP" name="indirizzoIP" value="{{
          request.form.indirizzoIP }}">
         <input type="text" placeholder="porta minima" name="portaMinima" value="{{
          request.form.portaMinima }}">
          <input type="text" placeholder="porta massima" name="portaMassima" value="{{
            request.form.portaMassima }}">
        <input type="submit" value="scansiona">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>